<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<title>UI Developer Jorge Moreno aka Moro. Front End Web Development and UI / UX Design</title>
	<meta name="description" content="UI Developer Jorge Moreno aka Moro Curriculum Vitae / Resume. Front-End Web Development and User Interface / User Experience Design. (Zaragoza, Spain)" />
	<meta name="keywords" content="frontend, web, developer, UI, UX, design, cv, resume" />
	<meta name="author" content="Jorge Moreno aka moro, moro.es (@alterebro)" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="width" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
    <meta name="robots" content="index, follow" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta name="google" content="notranslate" />
	<meta name="theme-color" content="#5c7ea8" />
	<link rel="me" href="https://twitter.com/alterebro" />
	<link rel="stylesheet" href="resume.css" />
</head>
<body>
	<div class="nav-bar">
		<p><strong><a href="http://moro.es" title="Front End Web Developer and UI Designer. Jorge Moreno">moro.es</a></strong> / resume cv</p>
		<p class="pdf"><a href="ui-developer-jorge-moreno-cv.pdf" title="UI Developer. Resume CV" download>PDF download</a></p>
		<hr />
	</div>

	{{body}}

</body>
</html>
